/* Font Imports */
@import url('https://fonts.googleapis.com/css?family=Thasadith');

/* General Styling */

body, html {
    font-family: 'Thasadith', sans-serif;
    background-color: #eff4fa; /*  Background color must be the same as paint stroke color, otherwise these offset */
    height: 100%;
    box-sizing: border-box;
    text-align: center;
}


body {
    display: table;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(https://i.imgur.com/uNQ5exz.jpg);
    background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    transition: 100ms height ease-in-out, 100ms background ease-in-out;
}

a:hover {
    color: #fff;
    transition: 100ms height ease-in-out, 100ms background ease-in-out;
}


canvas {
    display: block;
    vertical-align: bottom;
}


h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    width: 100%;
    font-family: 'Thasadith', sans-serif;
    color: #fff;
    font-size: 88px;
    font-weight: normal;
    text-transform: uppercase;
    z-index: 100;

}

h1 copyright {
    display: block;
    color: #fff;
    opacity: 0.2;
    font-size: 15px;
}

* {
    box-sizing: border-box;
}

.row {margin: 0 0px;}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


.project {
    width: 350px;
    margin-left: 55px;
    margin-top: 35px;

    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);


}

.title-content{
    text-align: center;
    margin: 70px 0 0 0;
    position: absolute;
    z-index: 20;
    width: 100%;
    top: 0;
    left: 0;
}


h3{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}
hr{
    width: 50px;
    height: 3px;
    margin: 20px auto;
    border: 0;
    background: white;
}
.intro{
    width: 170px;
    margin: 0 auto;
    color: #fff;
    font-family: 'Thasadith', sans-serif;
    font-size: 13px;
    font-style: italic;
    line-height: 18px;
}
.portfolio{
    background: url(https://imgur.com/OgRIrbl.png) no-repeat;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;

}

.portfolio:hover{
    filter: blur(0px);
    -webkit-filter: blur(0px);

}
.particles{
    background: url(https://i.imgur.com/Fzlve5I.png) no-repeat;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;

}

.particles:hover{
    filter: blur(0px);
    -webkit-filter: blur(0px);

}

.typed{
    background: url(https://i.imgur.com/gibZCA8.png) no-repeat;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
}

.typed:hover{
    filter: blur(0px);
    -webkit-filter: blur(0px);
}
.sweetalerts{
    background: url(https://imgur.com/Jxg7REM.png) no-repeat;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
}

.sweetalerts:hover{
    filter: blur(0px);
    -webkit-filter: blur(0px);
}
